.main-info-contact-dialog-container {
  padding: 20px 20px 0 20px;
  width: 600px;
}

.dialog-content {
  padding-bottom: 0px;
}

.horizontal-line {
  margin-bottom: 0;
}

.title {
  line-height: 1;
}

.form-field {
  display: block;
}

.dialog-actions {
  justify-content: end;
  padding-right: 24px;
}
