<!-- Expertise and education section -->
<div class="card section">
    <div class="card-body">
        <app-card-title titleText="Experiencia" (editEvent)="onExperienceEditEvent()"></app-card-title>
        <app-exp-edu-item *ngFor="let experiencia of listaExperiencia" [expEduItem]="experiencia"></app-exp-edu-item>
    </div>

    <div class="card-body">
        <app-card-title titleText="Educacion" (editEvent)="onEducationEditEvent()"></app-card-title>
        <app-exp-edu-item *ngFor="let educacion of listaEducacion" [expEduItem]="educacion"></app-exp-edu-item>
    </div>
</div>