.knowledge-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    transition: all .2s ease-in-out; 
}

.knowledge-item:hover {
    transform: scale(1.1); 
}

.knowledge-item-circle-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(13, 13, 14);
    border-radius: 50%;
    background-color: #e9ecf0;
    cursor: pointer;
}

.knowledge-item-circle-no-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 1px solid rgb(13, 13, 14);
    border-radius: 50%;
    background-color: #e9ecf0;
}

.knowledge-item-logo {
    height: 50px;
    width: 50px;
}

.knowledge-item-circle-auth:hover .knowledge-item-logo {
    filter: blur(4px);
    transition: filter 0.2s ease-in-out;
}

.knowledge-item-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.edit-button-container{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#edit-button {
    display: none;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.knowledge-item-circle-auth:hover #edit-button {
    display: block;
}