<div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="../../../../assets/html5Logo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">HTML</p>
</div>
<!-- <div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="resources/css3Logo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">CSS</p>
</div>
<div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="resources/javascriptLogo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">JavaScript</p>
</div>
<div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="resources/angularLogo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">Angular</p>
</div>
<div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="resources/javaLogo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">Java</p>
</div>
<div class="knowledge-item">
    <div class="knowledge-item-circle">
        <img src="resources/androidLogo.svg" alt="" class="knowledge-item-logo">
    </div>
    <p class="knowledge-item-name">Android</p>
</div> -->