<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">{{navBarTitle}}</a>
      <form class="d-flex align-items-center" role="search">
        <!-- <a class="navbar-brand cv-icon">
          <b class="cv-text">CV</b>
        </a> -->
        <a class="navbar-brand" [href]="linkGithub" target="_blank">
          <img class="nav-icon" src="../../../assets/github.svg" alt="GitHub NavIcon"/>
        </a>
        <a class="navbar-brand" [href]="linkLinkedIn" target="_blank">
          <img class="nav-icon" src="../../../assets/linkedin.svg" alt="LinkedIn NavIcon"/>
        </a>
        <a class="navbar-brand" [href]="linkInstagram" target="_blank">
          <img class="nav-icon" src="../../../assets/instagram.svg" alt="Instagram NavIcon"/>
        </a>

        <button class="btn btn-primary" (click)="openLoginDialog()" *ngIf="!(authService.isLoggedIn | async)">Login</button>
        <button class="btn btn-danger" (click)="logout()" *ngIf="authService.isLoggedIn | async">Logout</button>
      </form>
    </div>
  </nav>