<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Argentina Programa - Portafolio </a>
      <form class="d-flex align-items-center" role="search">
        <a class="navbar-brand" href="https://github.com/Valenreynoso17" target="_blank">
          <img class="nav-icon" src="../../../assets/github.svg" alt="GitHub NavIcon"/>
        </a>
        <a class="navbar-brand" href="https://www.linkedin.com/in/valentin-reynoso-6526211b8/" target="_blank">
          <img class="nav-icon" src="../../../assets/linkedin.svg" alt="LinkedIn NavIcon"/>
        </a>
        <a class="navbar-brand" href="https://www.instagram.com/valenreynoso17/" target="_blank">
          <img class="nav-icon" src="../../../assets/instagram.svg" alt="Instagram NavIcon"/>
        </a>

        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </nav>