<div class="expertise-education-item">
    <img class="expertise-education-item-logo" src="../../../assets/FlowingCodeLogo.svg" alt="Flowing Code Logo">
    <div>
        <h4 class="expertise-education-item-title">Flowing Code</h4>
        <h5 class="expertise-education-item-description">Desarrollador Fullstack</h5>
        <p class="expertise-education-item-paragraph">2022 - Actualidad</p>
    </div>
</div>


<!-- <div class="expertise-education-item">
    <img class="expertise-education-item-logo" src="../../../assets/utnLogo.png" alt="UTN Logo">
    <div>
        <h4 class="expertise-education-item-title">Universidad Tecnológica Nacional</h4>
        <h5 class="expertise-education-item-description">Ingeniería en Sistemas de Información</h5>
        <p class="expertise-education-item-paragraph">2019 - Actualidad</p>
    </div>
</div> -->
