<div class="main-info-contact-dialog-container">
    <h4 class="title">Editar "Información principal"</h4>

    <hr class="horizontal-line">

    <div mat-dialog-content class="dialog-content">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nombre y apellido</mat-label>
            <input matInput [(ngModel)]="personName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Situación actual</mat-label>
            <input matInput [(ngModel)]="personActualSituation">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Localidad</mat-label>
            <input matInput [(ngModel)]="personLocation">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="personEmail">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="personPhoneNumber">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Link de foto de perfil</mat-label>
            <input matInput [(ngModel)]="profilePictureUrl">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Link de foto de portada</mat-label>
            <input matInput [(ngModel)]="bannerPictureUrl">
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-button type="button" (click)="onCloseClick()">Cancelar</button>
        <!-- <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit" cdkFocusInitial>Ingresar</button> -->
        <button mat-flat-button color="primary" type="submit" cdkFocusInitial>Ingresar</button>
    </div>
</div>