<!-- Main info section -->
<div class="card section">
    <img id="banner" src="../../../assets/programacion-java-2789481.webp" class="card-img-top" alt="Banner picture">
    <div class="profile-picture-container">
      <img id="profile-picture" src="../../../assets/IMG-20221026-WA0063.jpg" alt="Profile picture">
    </div>
    <div class="card-body main-information-container">
      <h3 class="main-info-name">Valentín Reynoso</h3>
      <p class="text">Desarrollador en Flowing Code</p>
      <p class="text">Paraná, Entre Ríos, Argentina</p>
      <a class="main-info-contact" href="">Información de contacto</a>
    </div>
  </div>
