@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.section {
    margin-bottom: 10px;
}

.card-title {
    font-weight: 600;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
}

p.text {
    margin: 0;
}

.edit-button {
    width: 24px;
    height: 24px;
}

.edit-button:hover {
    cursor: pointer;
}
