<div class="main-info-contact-dialog-container">
    <h4 class="title">Agregar nuevo proyecto</h4>
  
    <hr class="horizontal-line">
  
    <form class="form" [formGroup]="createForm" (ngSubmit)="create($event)">
        <div mat-dialog-content  class="dialog-content">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label for="projectNameControl">Nombre proyecto</mat-label>
                <input matInput formControlName="projectNameControl" cdkFocusInitial>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label for="projectDescriptionControl">Descripcion</mat-label>
                <input matInput formControlName="projectDescriptionControl">
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label for="projectLinkControl">Link</mat-label>
                <input matInput formControlName="projectLinkControl">
            </mat-form-field>
        </div>
  
        <div mat-dialog-actions class="dialog-actions">
            <button mat-button type="button" (click)="onCloseClick()">Cancelar</button>
            <button mat-flat-button color="primary" [disabled]="!createForm.valid" type="submit">Agregar</button>
        </div>
    </form>    
  </div>
